<!doctype html>
<html>
<head>
    <title>Feedback Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> Feedback Data </h1>
    <table>
        <thead>
            <tr>
                {% for key in data['feeds'][0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for feed in data['feeds'] %}
                <tr>
                    {% for value in feed.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h2> Summary </h2>
    <div class="circle-summary">
        <div class="circle green">{{ summary['green'] }}</div>
        <div class="circle yellow">{{ summary['yellow'] }}</div>
        <div class="circle red">{{ summary['red'] }}</div>
    </div>
</body>
</html>
